@font-face {
    font-family: "Chomsky";
    src: url(Assets/Fonts/chomsky/Chomsky.otf);
}
.container{
    display: grid;
    grid-template-rows: auto;
    width: 100%;
    grid-gap: 40px;
    align-items: center;
    border: 5px solid #DAA520;
}
h1,hr,p{
    color: #DAA520;
    font: 2rem "Chomsky"
}
body{
    /* border: 5px solid #DAA520; */
    background-color: black;
    text-align:center;
}
img{
    border: 5px solid #DAA520;
    /* width: 80%; */
    max-height: 90vh;
    max-width: 90%;
}
#seal{
    border: none;
    width: 20vw;
    height:auto;
}
li{
    list-style-type: square;
}
a:link, a:visited{
    color: #DAA520;
    background-color: black;
}
a:hover{
    color: black;
    background-color: #DAA520;
}