/* @font-face {
    font-family: "Novamono";
    src: url(Assets/Fonts/novamono/novamono.ttf);
} */
body{
    text-align:center;
    /* font: 2rem "Novamono"; */
}
h1{
    color: #960018;
}
li{
    list-style-type: square;
}