@font-face {
    font-family: "Novamono";
    src: url(Assets/Fonts/novamono/novamono.ttf);
}
@font-face {
    font-family: "Chomsky";
    src: url(Assets/Fonts/chomsky/Chomsky.otf);
}
.container{
    display: grid;
    grid-template-columns: 50% 50%;
}
body{
    text-align:center;
    font: 2rem "Novamono";
    line-height: 1;
    /* background-color: gainsboro; */
    background-image: url(Assets/Temp\ Blueprint\ BG.png);
    /* width: 100vw; */
    color: black;
}
a:link{
    color: gainsboro;
}
a:hover{
    background-color: #1d2739;
}
a:visited{
    color: #1d2739;
    background-color: gainsboro;
}
a.boxlk:hover, a.boxlk:visited{
    background-color: transparent;
}
hr{
    color: #1d2739;
}
h1{
    /* color: #960018; */
    color: gainsboro;
    background-color: #1d2739;
}
li{
    list-style-type: square;
    color: black;
}
.box {
    border: thick double;
    margin: 30px;
    width: calc(100vw / 3);
    height: calc(100vw / 6);
}
/*Buttons are made by skewing rectangles so that the trim is retained on the inner edges, clip path keeps trim on outside but not interior.*/
#box1{
    /* background-color: #960018; */
    background-color: #1d2739;
    transform: skew(-30deg);
    font: 3rem "Novamono";
    color: gainsboro;
    position: relative; left: -20vw;
    /* clip-path: polygon(0% 0%,100% 0%,66% 100%,0% 100%); */
    /* mask-image: url(Assets/The\ HIGHLY\ VISIBLE\ Boat\ Mobile.png);
    mask-size: calc(1.73 * 100vw / 3) calc(100vw / 6); */
}
#box1 > div{
    transform: skew(30deg);
    /* position: relative; left: -40px; */
}
#box2{
    background-color: black;
    transform: skew(30deg);
    font: 2.2rem "Chomsky";
    color: #DAA520;
    position: relative; right: -20vw;
}
#box2 > div{
    transform: skew(-30deg);
}